:root {
  --yellow: #fcb72b;
  --light-yellow: #fff4df;
  --blue: #495567;
  --dark-grey: #939caa;
  --darkest-grey: #333a44;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;

  --space-mono: 'Space mono', monospace;
  --lexend-deca: 'Lexend deca', 'sans-serif';

  --title-m: 24px;
  --title-l: 40px;
  --title-xl: 48px;
  --title-xxl: 56px;

  --line-height-m: 28px;
  --line-height-l: 48px;
  --line-height-xl: 56px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
}
.showing-menu::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 0.7);
  z-index: 1;
}

.top-bar {
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  z-index: 2;
}
@media screen and (width > 768px) {
  .top-bar {
    justify-content: space-between;
    gap: 60px;
    padding: 22px 40px;
    height: 96px;
  }
}
.icon-menu {
  position: absolute;
  left: 32px;
}
@media screen and (width > 768px) {
  .icon-menu {
    display: none;
  }
}
.nav-menu {
  width: 70%;
  height: calc(100vh - 64px);
  background-color: var(--darkest-grey);
  position: absolute;
  left: 0;
  top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 32px 24px 32px;
  translate: -100%;
  transition: translate 0.5s;
}
@media screen and (width > 768px) {
  .nav-menu {
    position: relative;
    display: flex;
    height: calc(100vh - 96px);

    flex-direction: row;
    align-items: center;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    gap: 32px;
    padding: 0;
    translate: 0;
    width: 100%;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--space-mono);
}
@media screen and (width > 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #939caa;
  }
}
.menu-link-cta {
  padding: 14px 39px;
  background-color: var(--yellow);
  font-family: var(--space-mono);
  font-size: 15px;
  color: var(--light-grey);
  border: none;
}
.menu-link {
  font-family: var(--space-mono);
  font-size: 18px;
  color: var(--light-grey);
}
@media screen and (width > 768px) {
  .menu-link {
    color: var(--dark-grey);
  }
}
.menu-show {
  translate: 0;
}

.info-banner {
  position: relative;
  height: calc(100vh - 64px);
  width: 100%;
  background-image: url(../assets/images/images/home-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 115px 32px;
}
.title-banner {
  font-family: var(--space-mono);
  font-size: 40px;
  color: #ffff;
  text-align: center;
}
.text-banner {
  font-family: var(--lexend-deca);
  font-size: 15px;
  color: #ffff;
  text-align: center;
}
.button-banner {
  background-color: #fcb72b;
  padding: 14px 39px;
  font-family: var(--space-mono);
  font-size: 15px;
  color: #ffff;
}
.arrow {
  position: absolute;
  right: 240px;
  bottom: 30px;
}
.section{
display: flex;
flex-direction: column;
text-align: center;
padding: 120px 32px;
gap: 48px;
}
.section-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-section1{
  width: 56px;
}
.title-section1{
  font-family: var(--space-mono);
  font-size: 20px;
  color: var(--blue);  
  text-align: center;
  letter-spacing: -1.43px;
  line-height: 32px;
}
.text-section1{
  font-family: var(--lexend-deca);
  font-size: 15px;
  color: var(--dark-grey);  
  text-align: center;
  line-height: 25px;
}
.section2{
display: flex;
flex-direction: column;
text-align: center;
padding: 32px;
gap: 120px;
}
.section-item2{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.arrow-1{
  background-image: url(../assets/images/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 32px 150px;
}
.arrow-2{
  background-image: url(../assets/images/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.arrow-2{
  background-image: url(../assets/images/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 150px 0;
}
.icon-section2{
  position: relative;
  width: 311px;
  border-radius: 100%;
  z-index: -1;
}
.title-section2{
  font-family: var( --space-mono);
  font-size: 32px;
  color: var(--blue);  
  text-align: center;
  letter-spacing: -1.43px;
  line-height: 32px;
}
.text-section2{
  font-family: var( --lexend-deca);
  font-size: 15px;
  color: var(--dark-grey);  
  text-align: center;
  line-height: 25px;
}
.footer {
  color: var(--snow);
  text-align: center;
  background-color: var(--darkest-grey);
}
.apps {
  position: relative;
  padding: 88px 32px;
  background-color: var(--blue);
}
.apps-logos {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.apple-logo {
  width: 113px;
}

.google-logo {
  width: 130px;
}

.logo-white {
  filter: brightness(100);
  margin-bottom: 41px;
}
.footer-social {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 134px;
  gap: 42px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 85px;
  color: var(--dark-grey);
}
.social-links {
  display: flex;
  gap: 24px;
}
.logo-white {
  margin-bottom: 0;
}

.menu-footer {
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 0;
}
.banner-about{
  background-image: url(../assets/images/images/about-hero-mobile.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 72px 32px;
}
.section-about1{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 120px;
}
.titleBanner-about{
  font-family: var( --space-mono);
  font-size: 40px;
  color:#ffff ; 
}
.arrow-about1{
  background-image: url(../assets/images/patterns/left-upward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 32px 150px;
}
.arrow-about2{
  background-image: url(../assets/images/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.arrow-2{
  background-image: url(../assets/images/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 150px 0;
}
.section2-about{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.imageSection2-about{
  position: relative;
  width: 240px;
  border-radius: 100%;
}
.section2-about::after{
  position: '';
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: #000000;
  border-radius: 100%;
  z-index: 1;
}
.title-section3{
  font-family: var( --space-mono);
  font-size: 24px;
  color: var(--blue);  
  line-height: 28px;
}

.text-section3{
  font-family: var( --lexend-deca);
  font-size: 15px;
  color: var(--dark-grey);  
  text-align: center;
  line-height: 25px;

}
  